In [5]:
import pandas as pd

In [3]:
df = pd.read_csv("data/inflammation-01.csv")
df[:5]

,0,0.1,1,3,1.1,2,4,7,8,3.1,...,4.3,4.4,5.1,7.6,3.4,4.5,2.1,3.5,0.2,0.3
0,0,1,2,1,2,1,3,2,2,6,...,3,5,4,4,5,5,1,1,0,1
1,0,1,1,3,3,2,6,2,5,9,...,10,5,4,2,2,3,2,2,1,1
2,0,0,2,0,4,2,2,1,6,7,...,3,5,6,3,3,4,2,3,2,1
3,0,1,1,3,3,1,3,5,2,4,...,9,6,3,2,2,4,2,0,1,1
4,0,0,1,2,2,4,2,1,6,4,...,8,4,7,3,5,4,4,3,2,1

In [4]:
df[:1]

,0,0.1,1,3,1.1,2,4,7,8,3.1,...,4.3,4.4,5.1,7.6,3.4,4.5,2.1,3.5,0.2,0.3
0,0,1,2,1,2,1,3,2,2,6,...,3,5,4,4,5,5,1,1,0,1